<% provide(:title, "Sign in") %>
<h1> Sign in </h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>
			
			<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>
			
		<p> New user? <%= link_to "Sign up now!", signup_path %> </p>
	</div>
</div>

